# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.pytest_cache/
.vscode/ # Ignorar configurações de usuário do VS Code, manter apenas settings.json no workspace se for relevante
.env # Arquivos de ambiente com variáveis sensíveis
*.log
*.swp

# Node.js / React
node_modules/
build/ # Pasta de build do React (gerada para produção)
.DS_Store # Arquivos do macOS
npm-debug.log*
yarn-debug.log*
yarn-error.log*